<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceev.wcee.mapper.TestMapper">
    <select id="selectAllfdfs" resultType="java.util.Map">
                select * from `dsp_system_config` where id=1
    </select>
</mapper>